@tailwind base;
@tailwind components;
@tailwind utilities;

.value {
    /* animation: fadeInAnimation ease 3s; */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@layer components {
    .btn{
        @apply rounded bg-gray-100 font-medium;
    }

    .text-shadow {
        text-shadow: 0 0 0 white;
    }
}

@layer base {
    ul, ol {
      list-style: revert;
    }
  }
  